<div class="welcome-description">

	<img src = "https://lh3.googleusercontent.com/XgSZtdV2K7XMy5or0wF0evyNIxVOfZ6MHL4x_aDIzLkUHvQ9uwa9ohmQ4fu-q0ghEfpsjW6p-n6dL8Q8REpUMMUotyblNnj--pphrtn3TyTfA3fnpLqqZWMfx6OceBknJL_wcYR5-g"/>

  <p>I am a PhD candidate in Sociology at Northwestern University specializing in economic sociology, legal studies and political sociology. My research investigates questions around economic globalization, legal/institutional change and diffusion, international organizations, professional networks and expertise systems, and the Global South, using methods of comparative-historical, ethnographic and statistical research. </p>

  <p>My dissertation studies competition (antitrust) laws, which are the main “rules of the game” for businesses competing in market economies. I explore how these rules have changed in the last four decades to sustain problems of corporate bigness and monopolization under the increasing liberalization and connectedness of national markets, and what roles intellectual ideas, business interest representation and globally connected expert groups played in these changes. This research is based on extensive archival research in the US, over 100 interviews with competition law and policy experts around the world, and multiple forms of original quantitative data on competition law enforcement in four national jurisdictions (the US, the EU, Mexico and Turkey). This research has been supported by the Buffett Institute for Global Affairs and the Equality Development and Globalization Studies (EDGS) Program. </p>

   <p>I am currently (2020-2021) serving as the Student Representative in the Council of the ASA Economic Sociology Section. I have also been the Student Coordinator for the Global Capitalism and Law Research Group in Northwestern Weinberg College for two years, and a Graduate Fellow at Comparative Historical Social Sciences Program, the Center for Legal Studies Program and Keyman Turkish Studies Program at Northwestern since 2014.</p>

   <p>My previous projects have been published in the Annual Review of Law and Social Science, and International Journal of Law in Context.</p>

  

</div>